# This compose reuses an image for multiple containers. Because of this it should be built in advance with:
# docker build -t bogoslov .

services:
  proxy:
    image: nginx:1-alpine-slim
    ports:
      - ${PUBLIC_PORT}:80
    volumes:
      - ./static:/usr/share/nginx/html:ro
      - ./corpora.${CORPUS_LANG}:/usr/share/nginx/static/corpora:ro
      - ./results:/usr/share/nginx/static/results:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "wget -nv -t1 --spider http://localhost || exit 1"]
    restart: always

  service:
    image: bogoslov
    # ports:
    #   - 8781:8000
    environment:
      - DEPLOY_PORT=${PUBLIC_PORT}
      - DEPLOY_HOST=${PUBLIC_HOST}
      - LANG_CORPUS=${CORPUS_LANG}
      - HF_HOME=/models/
    volumes:
      - ./static/${CORPUS_LANG}.css:/static/${CORPUS_LANG}.css:ro
      - ./results:/results
      - ./static/alphabet.${CORPUS_LANG}.tsv:/home/app/alphabet.${CORPUS_LANG}.tsv:ro
      - ./models:/models/
    command: ["python", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "python -c \"import json; from urllib.request import urlopen; r = urlopen('http://localhost:8000/settings'); r.status >= 400 and json.load(r)['language'] == '${CORPUS_LANG}'\""]

  db:
    image: pgvector/pgvector:pg17
    environment:
      - POSTGRES_DB=bogoslov
      - POSTGRES_USER=bogoslov
      - POSTGRES_HOST_AUTH_METHOD=trust
    # ports:
    #   - 5732:5432
    volumes:
      - ./db/data.${CORPUS_LANG}/:/var/lib/postgresql/data/
      - ./db/init.${CORPUS_LANG}/:/docker-entrypoint-initdb.d/:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d bogoslov -U bogoslov"]
    restart: always
