# This compose reuses an image for multiple containers. Because of this it should be built in advance with:
# docker build -t bogoslov .

services:
  proxy:
    image: nginx:1.25-alpine-slim
    ports:
      - 8780:80
    volumes:
      - ./static:/usr/share/nginx/html:ro
      - ./corpora:/usr/share/nginx/static/corpora:ro
      - ./results:/usr/share/nginx/static/results:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "wget -nv -t1 --spider http://localhost || exit 1"]
    restart: always

  regex:
    image: bogoslov
    # ports:
    #   - 8781:7861
    volumes:
      - ./static/ocs.css:/static/ocs.css:ro
      - ./results:/results
      - ./code/alphabet.tsv:/home/app/alphabet.tsv:ro
    command: ./app-regex.py
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "python -c \"from urllib.request import urlopen; int(urlopen('http://localhost:7861/regex/').status >= 400)\""]

  ngram:
    image: bogoslov
    # ports:
    #   - 8782:7861
    environment:
      - LD_PRELOAD=/home/app/.local/lib/python3.11/site-packages/scikit_learn.libs/libgomp-d22c30c5.so.1.0.0
    volumes:
      - ./static/ocs.css:/static/ocs.css:ro
      - ./results:/results
    command: ./app-ngram.py
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "python -c \"from urllib.request import urlopen; int(urlopen('http://localhost:7861/ngram/').status >= 400)\""]
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1024M

  lcs:
    image: bogoslov
    # ports:
    #   - 8783:7861
    # environment:
    #   - LD_PRELOAD=/home/app/.local/lib/python3.11/site-packages/scikit_learn.libs/libgomp-d22c30c5.so.1.0.0
    volumes:
      - ./static/ocs.css:/static/ocs.css:ro
      - ./results:/results
    command: ./app-lcs.py
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "python -c \"from urllib.request import urlopen; int(urlopen('http://localhost:7861/lcs/').status >= 400)\""]


  strans:
    image: bogoslov
    # ports:
    #   - 8784:7861
    environment:
      - HF_HOME=/models/
      # - LD_PRELOAD=/home/app/.local/lib/python3.11/site-packages/scikit_learn.libs/libgomp-d22c30c5.so.1.0.0
    volumes:
      - ./static/ocs.css:/static/ocs.css:ro
      - ./results:/results
      - ./models:/models/
    command: ./app-strans.py
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "python -c \"from urllib.request import urlopen; int(urlopen('http://localhost:7861/strans/').status >= 400)\""]
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1024M

  db:
    image: pgvector/pgvector:pg17
    environment:
      - POSTGRES_DB=bogoslov
      - POSTGRES_USER=bogoslov
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - 5732:5432
    volumes:
      - ./db/data/:/var/lib/postgresql/data/
      - ./db/init/:/docker-entrypoint-initdb.d/:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d bogoslov -U bogoslov"]
    restart: always

  # populate:
  #   image: bogoslov
  #   environment:
  #     - HF_HOME=/models/
  #   volumes:
  #     - ./corpora:/corpora:ro
  #     - ./models:/models/
  #   command: ./populate.py
  #   depends_on:
  #     - db
