# This compose reuses an image for multiple containers. Because of this it should be built in advance with:
# docker build -t bogoslov .

services:
  proxy:
    image: nginx:1-alpine-slim
    ports:
      - 8780:80
    volumes:
      - ./static:/usr/share/nginx/html:ro
      - ./corpora:/usr/share/nginx/static/corpora:ro
      - ./results:/usr/share/nginx/static/results:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "wget -nv -t1 --spider http://localhost || exit 1"]
    restart: always

  service:
    image: bogoslov
    ports:
      - 8781:8000
    volumes:
      - ./static/ocs.css:/static/ocs.css:ro
      - ./results:/results
      - ./static/alphabet.tsv:/home/app/alphabet.tsv:ro
      - ./models:/models/
    command: ["python", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "python -c \"from urllib.request import urlopen; int(urlopen('http://localhost:8000/').status >= 400)\""]

  db:
    image: pgvector/pgvector:pg17
    environment:
      - POSTGRES_DB=bogoslov
      - POSTGRES_USER=bogoslov
      - POSTGRES_HOST_AUTH_METHOD=trust
    # ports:
    #   - 5732:5432
    volumes:
      - ./db/data/:/var/lib/postgresql/data/
      - ./db/init/:/docker-entrypoint-initdb.d/:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d bogoslov -U bogoslov"]
    restart: always
