@font-face {
    font-family: BukyVede;
    src: url(/BukyVede-Regular.ttf) format('truetype');
}

.quote, .chapter .lg {
    font-family: BukyVede !important;
}

body {
 margin: 20px;
}

.chapter {
 margin-bottom: 30px;
}

.lg {
    margin-bottom: 15px; 
}

.head { 
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 20px; 
}

.match {
    background:yellow;
}

footer {
    visibility: hidden;
}
