bm25s==0.2.14
docopt==0.6.2
fuzzywuzzy==0.18.0
gradio==5.20.1
lxml==5.3.1
openpyxl==3.1.5
pgvector==0.4.1
psycopg2-binary==2.9.10
regex==2024.11.6
sentence-transformers==4.1.0
# stanza==1.10.1
sqlalchemy==2.0.41
torch==2.8.0 --index-url https://download.pytorch.org/whl/cpu
tqdm==4.67.1
uvicorn==0.38.0